<h1> Online Projects  </h1>


{{outlet}}


<div class="container-fluid">

{{#each @model as |project|}}

<div class="card mx-auto w-75 mb-4 rounded-3 shadow-sm" >
  <img class="card-img-top" src={{project.image}} alt="" width="400" height="400" >
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div>
          <h5 class="card-title">{{project.name}}</h5>
          <p class="card-text">{{project.summary_en}}</p>
        </div>
        <div>
            <h3>{{project.rate}}%</h3>
            <p> {{ project.loanDuration }} months .  €{{project.amount}}</p>
            <p>{{project.grade}}</p>
        </div>
        <div>
            <p>Duration: {{project.expirationDate}}</p>
        </div>
    </div>
  </div>
</div>
 
{{/each}}

</div>
