<h1> Online Projects  </h1>


{{outlet}}



{{#each @model as |project|}}

<div class="card" style="width: auto; ">
  <img class="card-img-top" src={{project.image}} alt=""  width="450" height="450">
  <div class="card-body">

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="projectInfo mb-4 rounded-3 shadow-sm">
            <h1>{{project.name}}</h1>
            <h4>{{project.summary_en}}</h4>
        </div>
        <div class="projectDetails mb-4 rounded-3 shadow-sm">
            <h1>{{project.rate}}%</h1>
            <p> {{ project.loanDuration }} months .  €{{project.amount}}</p>
            <p>{{project.grade}}</p>
        </div>
        <div class="projectDuration mb-4 rounded-3 shadow-sm border-primary">
            <h3>See the project > </h3>
            <p>Duration: {{project.expirationDate}}</p>
        </div>
    </div>
  </div>
</div>
 
{{/each}}